*
{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    box-sizing: border-box;
}
body
{
    background-image: url(../images/astronaut-floating-space-4k-wallpaper-3840x2160.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in hsl shorter hue, #179b81 20%, #939393 40%);
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

form
{
    background-color: white;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form h2
{
    color: black;
    font-family: Bahnschrift Light;
    font-size: 26px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
form label
{
    color: black;
    font-size: 26px;
    margin: 5px;
    padding: 5px;

}

form input
{
    border-radius: 5px;
    height: 35px;
    width: 90%;
    padding: 10px;
    margin: 5px;
}
form button
{
    padding: 10px;
    cursor: pointer;
}
.fields
{
    position: relative;
    margin-bottom: 15px;
}
.fields label
{
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
}
.fields input
{
  height: 45px;
  padding: 10px;
  width: 90%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}